###> calories_api_service ###
CALORIES_API_ENDPOINT="https://api.api-ninjas.com/v1/nutrition"
API_NINJAS_KEY="PASTE_YOUR_API_NINJAS_KEY_HERE"
CALORIES_API_DEFAULT_RECOMMENDATION=2000
###< calories_api_service ###
