
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/assets/vendor/
###< symfony/asset-mapper ###
echo "config/firebase_credentials.json" >> .gitignore
git add .gitignoreconfig/firebase_credentials.json
echo ".env" >> .gitignoreconfig/firebase_credentials.json
src/Controller/UrgenceController.php
config/firebase_credentials.json
.env
