<form method="post" action="{{ path('app_ressource_delete', {'id': ressource.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" style="display:inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.id) }}">
    <button class="btn-icon-sm" style="color:#ef4444; width:auto; padding:0 12px;"><i class="bi bi-trash"></i> Supprimer</button>
</form>
