<h2>Reinitialisation de mot de passe</h2>
<p>Bonjour {{ user.fullName }},</p>
<p>Pour reinitialiser votre mot de passe, utilisez ce lien :</p>
<p><a href="{{ absolute_url(path('reset_password', {token: token})) }}">{{ absolute_url(path('reset_password', {token: token})) }}</a></p>
<p>Ce lien expire dans 1 heure.</p>
